.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #2f4050;
}

.NombreProyecto {
  width: 100%;
  height: 100px;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarModulos {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarModulos .Modulos {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.SidebarModulos .Modulos:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarModulos .Modulos #activo {
  background-color: #293846;
}

.Modulos #Icono {
  flex: 30%;
  display: grid;
  place-items: center;
}
.Modulos #Nombre {
  flex: 70%;
}
