.principal {
    padding: 1rem;
}

@media (max-width: 832px) {
    .status {
        padding: 0;
        margin:0
    }
}

@media (max-width: 800px) {
    .principal {
        width: 488px;
        padding: 0px;
        margin: 0;
    }
}

@media (max-width: 779px) {
    .principal {
        width: 400px;
    }
}

@media (max-width: 662px) {
    .principal {
        width: 350px;
    }
}

@media (max-width: 595px) {
    .principal {
        width: 300px;
    }
}
