@media (max-width: 1140px) {
    .empresasTabla {
        height: 800px;
        width: 520px;
        overflow: auto;
    }
}

@media (max-width: 1180px) {
    .empresasTabla {
        height: 800px;
        width: 650px;
        overflow: auto;
    }
}

@media (max-width: 1130px) {
    .empresasTabla {
        height: 800px;
        width: 550px;
        overflow: auto;
    }
}

@media (max-width: 1035px) {
    .empresasTabla {
        height: 800px;
        width: 550px;
        overflow: auto;
    }
}

@media (max-width: 990px) {
    .empresasTabla {
        height: 800px;
        width: 500px;
        overflow: auto;
    }
}

@media (max-width: 968px) {
    .empresasTabla {
        height: 800px;
        width: 500px;
        overflow: auto;
    }
}

@media (max-width: 968px) {
    .empresasTabla {
        height: 800px;
        width: 470px;
        overflow: auto;
    }
}

@media (max-width: 902px) {
    .empresasTabla {
        height: 800px;
        width: 450px;
        overflow: auto;
    }
}

@media (max-width: 860px) {
    .empresasTabla {
        height: 800px;
        width: 420px;
        overflow: auto;
    }
}

@media (max-width: 835px) {
    .empresasTabla {
        height: 800px;
        width: 400px;
        overflow: auto;
    }
}

@media (max-width: 790px) {
    .empresasTabla {
        height: auto;
        width: 350px;
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .empresasTabla {
        height: auto;
        width: auto;
        overflow: auto;
    }
}
