@media (max-width: 1140px) {
    .empresasTabla {
        height: 800px;
        width: 600px;
        overflow: auto;
    }
}

@media (max-width: 1035px) {
    .empresasTabla {
        height: 800px;
        width: 550px;
        overflow: auto;
    }
}

@media (max-width: 968px) {
    .empresasTabla {
        height: 800px;
        width: 500px;
        overflow: auto;
    }
}

@media (max-width: 902px) {
    .empresasTabla {
        height: 800px;
        width: 450px;
        overflow: auto;
    }
}

@media (max-width: 835px) {
    .empresasTabla {
        height: 800px;
        width: 400px;
        overflow: auto;
    }
}

@media (max-width: 767px) {
    .empresasTabla {
        height: auto;
        width: auto;
        overflow: auto;
    }
}
